<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mediathek_Vorlage_Blatt06/src/de/uni_hamburg/informatik/swt/se2/mediathek/startup/StartUpMediathek.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.uni_hamburg.informatik.swt.se2.mediathek.startup.StartUpMediathek"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mediathek_Vorlage_Blatt06"/>
</launchConfiguration>
